* {
    margin:0;
    padding:0;
    }
.background-image{background-image: url(./img/milan-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    height: 768px;
    background-position: center;
}
.container{
    width: 1060px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
}
.header{
    margin-top:49px;
}
.header-text{
    position: relative;
}
.logo-text{
    position: absolute;
    left: 65px;
    top: -53px;
}
.big-text-logo{font-family: "Verdana",sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    text-align: left;

}
.small-text-logo{
    font-family:  "Verdana",sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.contacts{
    font-family: "Verdana",sans-serif;
    color:  #ffffff;
    position:absolute;
    right:-10px;
    top: -45px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.header-text1:hover{
    color: #f26522;
}
.menu{
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top:48px;
}
.menu-item {
    width: 307px;
    position: relative;
}
.menu-item-direction{
    text-decoration: none;
}
.menu-tours{
    border: 2px solid transparent;
    border-image: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    box-shadow: 1px 6px 16px 1px rgba(0,0,0,0.75);
}
.tour-detailes {
    width: 290px;
    height: 63px;
    background: rgb(242, 101, 34);
    position: absolute;
    bottom: 102px;
    display: none;
    padding-left: 21px;
}
.menu-item:hover .tour-detailes {
    display: block;
}
.menu-item-name:hover{
    color: rgb(242, 101, 34);
}
.menu-item-name{
    text-align: center;
    margin-bottom: 58px;
    padding-top: 22px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.view-details_1{
    font-size: 10px;
    color: #ffffff;
    margin-top: 16px;
}
.view-details_2{
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 10px;
    text-align: left;

}
.view-details_3{
    text-align: right;
    margin-right: 25px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 14px;
    text-align: left;

}
.copyright{
    text-align: center;
    font-size: 12px;
}